<h1>New Entry for <%= @place.name %></h1>

<%= form_with model: @entry, url: place_entries_path(@place), method: :post, local: true do |form| %>
  <%= form.hidden_field :place_id, value: @place.id %>
  <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :occurred_on, "Date" %>
    <%= form.date_field :occurred_on %>
  </div>
  <%= form.submit "Create Entry" %>
<% end %>

<p><%= link_to "Back to #{@place.name}", place_path(@place) %></p>
